<md-toolbar >
  <div class="md-toolbar-tools">
    <h2>
      <a ui-sref="main.home">ציודית</a>
    </h2>
   
    
    <span flex></span>

    <md-menu md-position-mode="target-right target">
      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon>face</md-icon>
      </md-button>

      <md-menu-content width="4" > 
        <span ng-hide="$ctrl.user">
           <md-menu-item>
            <md-button ui-sref="main.login">
              <div layout="row" flex>
                <p flex>Login</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">face</md-icon>
              </div>
            </md-button>
            
          </md-menu-item> 
          
          <md-menu-item> 
            <md-button ui-sref="main.admin.manage">
              <div layout="row" flex>
                <p flex>ניהול</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">store</md-icon>
              </div>
            </md-button>
          </md-menu-item>        
        </span>
      </md-menu-content>

    </md-menu>

  </div>
</md-toolbar>
<ui-view></ui-view>
